{{import Icon from 'carbon-components-ember/components/icon'}}
{{import '{ on }' from '@ember/modifier'}}

<li class="cds--side-nav__menu-item">
  <a role="menuitem" aria-current="{{if @isCurrent 'page'}}" class="cds--side-nav__link"
    {{on 'click'@transitionTo}}>
    {{#if @icon}}
      <div class="cds--side-nav__icon">
        <Icon @icon="{{@icon}}"/>
      </div>
    {{/if}}
    <span class="cds--side-nav__link-text">{{@title}}</span>
  </a>
</li>
