{{import SubMenu from '../-sub-menu'}}
{{import Icon from 'carbon-components-ember/components/icon'}}
{{import new-obj from 'carbon-components-ember/helpers/new-obj'}}
{{import '{ on }' from '@ember/modifier'}}
{{import '{ get,concat,fn }' from '@ember/helper'}}
{{import toggle from 'ember-composable-helpers/helpers/toggle'}}
{{import or from 'ember-truth-helpers/helpers/or'}}

{{#if @submenus}}
  {{#let (new-obj) as |obj|}}
  <li class="cds--side-nav__item {{if @icon 'cds--side-nav__item--icon'}}">
    <button class="cds--side-nav__submenu" aria-haspopup="true" aria-expanded="{{or @open (get obj (concat @title '-expanded'))}}"
      {{on 'click' (fn (toggle (concat @title '-expanded') obj))}}>
      {{#if @icon}}
        <div class="cds--side-nav__icon">
          <Icon @icon="{{@icon}}"/>
        </div>
      {{/if}}
      <span class="cds--side-nav__submenu-title">{{@title}}</span>
      <div class="cds--side-nav__icon cds--side-nav__icon--small cds--side-nav__submenu-chevron">
        <Icon @icon='chevron--down' />
      </div>
    </button>
    {{#if (or @open (get obj (concat @title '-expanded')))}}
      <ul role="menu" class="cds--side-nav__menu" style="    max-height: 93.75rem; visibility: inherit;">
        {{yield SubMenu}}
      </ul>
    {{/if}}
  </li>
  {{/let}}
{{else unless @hidden}}
  <li class="cds--side-nav__item">
    <a class="cds--side-nav__link"
       aria-current="{{if @isCurrent 'page'}}"
      {{on 'click' @transitionTo}}>
      {{#if @icon}}
        <div class="cds--side-nav__icon cds--side-nav__icon--small">
          <Icon @icon="{{@icon}}"/>
        </div>
      {{/if}}
      <span class="cds--side-nav__link-text">{{@title}}</span>
    </a>
  </li>
{{/if}}
