{{import Checkbox from 'carbon-components-ember/components/checkbox'}}
{{import Input from 'carbon-components-ember/components/form-input'}}
{{import Demo from 'ember-cli-addon-docs/components/docs-demo'}}
{{import set from 'carbon-components-ember/helpers/set'}}
{{import Breadcrumbs from 'carbon-components-ember/components/breadcrumbs'}}
{{import '{ array }' from '@ember/helper'}}

<h1>
  Carbon Breadcrumbs
</h1>

<Demo as |demo|>
  <demo.example @name='breadcrumbs-simple.hbs'>
    {{!import Breadcrumbs from 'carbon-components-ember/components/breadcrumbs'}}

    <Breadcrumbs @crumbs={{array 'a' 'b' 'c'}} @current='b' />
  </demo.example>
  <demo.snippet @name='breadcrumbs-simple.hbs' />
</Demo>