{{import defaultTo from 'carbon-components-ember/helpers/default-to'}}
<div class="bx--form-item" style='margin-bottom: 1.5rem;' ...attributes>
  <input {{on 'change' this.onInputChange}} id="text-input-{{this.guid}}" type="{{defaultTo @type 'text'}}" value={{@value}} class="bx--text-input" placeholder="{{@placeholder}}">
  {{#if label}}
    <label for="text-input-{{this.guid}}" class="bx--label">{{@label}}</label>
  {{/if}}
  {{#if @help}}
    <div class="bx--form__helper-text">
      {{@help}}
    </div>
  {{/if}}
  {{#if @errors}}
    <div class="bx--form-requirement">
      {{@errors}}
    </div>
  {{/if}}
</div>