{{import Modal from 'carbon-components-ember/components/modal'}}
{{import defaultTo from 'carbon-components-ember/helpers/default-to'}}
{{import eq from 'ember-truth-helpers/helpers/equal'}}

<Modal @onClose={{fn this.onCancel}}>
  <:label>
    {{@label}}
  </:label>

  <:header>
    {{@header}}
  </:header>

  <:body>
    {{@body}}
  </:body>

  <:footer>
    <button class="cds--btn cds--btn--secondary" type="button" data-modal-close {{on 'click' this.onCancel}}>
      {{defaultTo @cancelText 'Cancel'}}
    </button>
    <button class="cds--btn cds--btn--{{@type}} cds--btn--primary" type="button" aria-label="Danger"
      {{on 'click' this.onAccept}} data-modal-primary-focus>{{defaultTo @cancelText 'Okay'}}
    </button>
  </:footer>
</Modal>