{{import Header from './-header'}}
{{import Sidenav from './-sidenav'}}
{{import HeaderAction from './-header-action'}}
{{import Nav from './-nav'}}

{{yield (hash Header=Header Sidenav=Sidenav HeaderAction=HeaderAction Nav=Nav) to="shell"}}
<main id="main-content" class="bx--content">
  {{yield to="content"}}
</main>

