{{import Loading from '../loading'}}
{{import defaultTo from '../default-to'}}
{{import eq from '@abcum/ember-helpers/helpers/eq'}}
{{import renderSvgPart from './render-svg-part'}}

{{#if (or @loading this.loading)}}
  <span style="display: inline-block;">
    <Loading @classNames="{{this.styleNamespace}} {{this.bxClassNames}} loader" @small="true" @inline=true />
  </span>
{{else}}
  {{#if @onClick}}
    <button class="bx--btn bx--btn--sm bx--btn--ghost" type="button" {{on 'click' this.onIconClick}} ...attributes>
        <svg class="{{this.bxClassNames}} {{this.styleNamespace}}"
             focusable="false"
             fill={{@fill}}
             style="will-change: transform;"
             width="{{defaultTo @size this.svg.attrs.width}}"
             height="{{defaultTo @size this.svg.attrs.height}}"
             viewBox="{{this.svg.attrs.viewBox}}"
             xmlns="http://www.w3.org/2000/svg">
          {{#each this.svg.content as |c|}}
            {{renderSvgPart c}}
          {{/each}}
        </svg>
    </button>
  {{else}}
      <svg class="{{this.bxClassNames}} {{this.styleNamespace}}"
           focusable="false"
           fill={{@fill}}
           style="will-change: transform;"
           width="{{defaultTo @size this.svg.attrs.width}}"
           height="{{defaultTo @size this.svg.attrs.height}}"
           viewBox="{{this.svg.attrs.viewBox}}"
           xmlns="http://www.w3.org/2000/svg" ...attributes>
        {{#each this.svg.content as |c|}}
            {{renderSvgPart c}}
        {{/each}}
      </svg>
  {{/if}}
{{/if}}