{{import Input from 'carbon-components-ember/components/form-input'}}
{{import Demo from 'ember-cli-addon-docs/components/docs-demo'}}
{{import set from 'carbon-components-ember/helpers/set'}}
{{import eq from 'ember-truth-helpers/helpers/equal'}}
{{import Modal from 'carbon-components-ember/components/modal'}}

<h1>Carbon Checkbox</h1>

<Demo as |demo|>
  {{#demo.example name='modal.hbs'}}
    {{!import Modal from 'carbon-components-ember/components/modal'}}

    <Modal>
      <:label>Label</:label>
      <:header>Header</:header>
      <:body>body</:body>
      <:content>content</:content>
      <:footer>footer</:footer>
    </Modal>
  {{/demo.example}}
  <demo.snippet @name="modal.hbs" />
</Demo>