<li class="bx--overflow-menu-options__option">
    <button
            class="bx--overflow-menu-options__btn {{if @isDanger 'bx--overflow-menu-options__option--danger'}} {{if @isDisabled 'bx--overflow-menu-options__option--disabled'}}"
            title="{{@tooltip}}"
            data-floating-menu-primary-focus={{@isPrimary}}
            ...attributes
    >
      {{@title}}
      {{yield}}
    </button>
</li>