{{import Icon from 'carbon-components-ember/components/icon'}}
{{import eq from 'ember-truth-helpers/helpers/equal'}}
<header aria-label="IBM Platform Name" class="bx--header" role="banner">
  <a class="bx--skip-to-content" href="#main-content" tabindex="0">Skip to main content</a>
  {{#unless @noToggleButton}}
    <button aria-label="Open menu" class="bx--header__action bx--header__menu-trigger bx--header__menu-toggle {{if @open '' 'bx--header__menu-toggle'}}" title="Open menu" type="button"
      {{on 'click' (fn @onToggle (not @open))}}>
      <Icon @icon={{if @open 'close' 'menu'}}/>
    </button>
  {{/unless}}
  <a class="bx--header__name" href="#"><span class="bx--header__name--prefix">{{@title}} <small>{{@subtitle}}</small></span></a>
  {{yield to='header'}}
  <div class="bx--header__global">
    {{yield to="header-global"}}
  </div>
</header>
