{{import Icon from 'carbon-components-ember/components/icon'}}
{{import eq from '@abcum/ember-helpers/helpers/eq'}}
<header aria-label="IBM Platform Name" class="bx--header" role="banner">
    <a class="bx--skip-to-content" href="#main-content" tabindex="0">Skip to main content</a>
    <button aria-label="Open menu" class="bx--header__action bx--header__menu-trigger bx--header__menu-toggle {{if @open '' 'bx--header__menu-toggle'}}" title="Open menu" type="button"
        {{on 'click' (fn @onToggle (not @open))}}>
        {{Icon (if @open 'close' 'menu')}}
    </button>
    <a class="bx--header__name" href="#"><span class="bx--header__name--prefix">{{@title}} <small>{{@subtitle}}</small></span></a>
    <div class="bx--header__global">
        {{yield 'header-global'}}
    </div>
    {{yield 'header'}}
</header>
