{{import Input from 'carbon-components-ember/components/form-input'}}
{{import Demo from 'ember-cli-addon-docs/components/docs-demo'}}
{{import set from 'carbon-components-ember/helpers/set'}}
{{import Checkbox from 'carbon-components-ember/components/checkbox'}}

<h1>Carbon Checkbox</h1>

<Demo as |demo|>
  {{#demo.example name='checkbox.hbs'}}
    {{!import Checkbox from 'carbon-components-ember/components/checkbox'}}

    <Checkbox @disabled=true @checked=true @onChange={{fn (set this 'checked')}}  @label="disabled" />
    <Checkbox @disabled=true @checked=false @onChange={{fn (set this 'checked')}} @label="disabled and not checked" />
    <Checkbox @checked={{this.checked}} @onChange={{fn (set this 'checked')}} >
      Label in block
    </Checkbox>
    <p>
      checked: {{this.checked}}
    </p>
  {{/demo.example}}
  <demo.snippet @name="checkbox.hbs" />
</Demo>