
{{#if @loading}}
  <div style="max-width: 100%;"><div class="cds--tabs cds--skeleton"><ul class="cds--tabs__nav"><li class="cds--tabs__nav-item"><div class="cds--tabs__nav-link"><span></span></div></li><li class="cds--tabs__nav-item"><div class="cds--tabs__nav-link"><span></span></div></li><li class="cds--tabs__nav-item"><div class="cds--tabs__nav-link"><span></span></div></li><li class="cds--tabs__nav-item"><div class="cds--tabs__nav-link"><span></span></div></li><li class="cds--tabs__nav-item"><div class="cds--tabs__nav-link"><span></span></div></li></ul></div></div>
{{else}}
  <div class="cds--tabs">
    <button aria-hidden="true" aria-label="Scroll left"
            class="cds--tab--overflow-nav-button cds--tab--overflow-nav-button--previous cds--tab--overflow-nav-button--hidden"
            type="button">
      <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
           width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
        <path d="M5 8L10 3 10.7 3.7 6.4 8 10.7 12.3 10 13z"></path>
      </svg>
    </button>
    <div aria-label="List of tabs" role="tablist" class="cds--tab--list">
      {{#each @tabs as |tab index|}}
        <button aria-controls="{{this.guid}}-tabpanel-{{index}}" aria-selected="{{if (eq @selectedTab.title tab.title) 'true'}}" id="{{this.guid}}-tab-{{index}}" role="tab"
                class="cds--tabs__nav-item cds--tabs__nav-link
              {{if (eq @selectedTab.title tab.title) 'cds--tabs__nav-item--selected'}}
                  {{if tab.disabled "cds--tabs__nav-item--disabled"}}"
                tabindex="{{index}}"
                type="button"
          {{on 'click' (fn @tabSelected tab)}}
        >
          {{tab.title}}
        </button>
      {{/each}}
    </div>
    <button aria-hidden="true" aria-label="Scroll right"
            class="cds--tab--overflow-nav-button cds--tab--overflow-nav-button--next cds--tab--overflow-nav-button--hidden"
            type="button">
      <svg focusable="false" preserveAspectRatio="xMidYMid meet" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
           width="16" height="16" viewBox="0 0 16 16" aria-hidden="true">
        <path d="M11 8L6 13 5.3 12.3 9.6 8 5.3 3.7 6 3z"></path>
      </svg>
    </button>
  </div>
  <div aria-labelledby="{{this.guid}}-tab-{{this.currentIndex}}" id="{{this.guid}}-tabpanel-{{this.currentIndex}}" class="cds--tab-content" role="tabpanel" tabindex="{{this.currentIndex}}">
    {{yield}}
  </div>
{{/if}}