<div data-tabs class="bx--tabs" ...attributes>
    <div class="bx--tabs-trigger {{if this.open 'bx--tabs-trigger--open'}}" tabindex="0">
        <a href="javascript:void(0)" class="bx--tabs-trigger-text" tabindex="-1" {{on 'click' (fn (mut this.open) (not this.open))}}></a>
        <svg focusable="false" preserveAspectRatio="xMidYMid meet" style="will-change: transform;" xmlns="http://www.w3.org/2000/svg" width="10" height="6" viewBox="0 0 10 6" aria-hidden="true"><path d="M5 6L0 1 .7.3 5 4.6 9.3.3l.7.7z"></path></svg>
    </div>
    <ul class="bx--tabs__nav {{unless this.open 'bx--tabs__nav--hidden'}}" role="tablist">
      {{#each @tabs as |tab index|}}
          <li class="bx--tabs__nav-item {{if (eq @selectedTab.title tab.title) 'bx--tabs__nav-item--selected'}} " role="presentation">
              <a tabindex="0" id="tab-link-{{index}}" class="bx--tabs__nav-link" href="javascript:void(0)"
                 role="tab" aria-controls="tab-panel-{{index}}" aria-selected="{{if (eq @selectedTab.title tab.title) 'true'}}"
                 {{on 'click' (fn @tabSelected tab)}}
              >
                {{tab.title}}
              </a>
          </li>
      {{/each}}
    </ul>
</div>