{{import Demo from 'ember-cli-addon-docs/components/docs-demo'}}
{{import Toggle from 'carbon-components-ember/components/toggle'}}
{{import newObj from 'carbon-components-ember/helpers/new-obj'}}
{{import '{ fn }' from '@ember/helper'}}
{{import not from 'ember-truth-helpers/helpers/not'}}
{{import ProgressBar from 'carbon-components-ember/components/progress-bar'}}



<h1>Carbon ProgressBar</h1>

<Demo as |demo|>
  {{#demo.example name='progress-bar.hbs'}}
    {{!import Tile from 'carbon-components-ember/components/tile'}}

  <ProgressBar/>
  <ProgressBar @status="error" @size="big"/>
  <ProgressBar @status="indeterminate"/>
  <ProgressBar @status="finished" @size="small"/>

  <ProgressBar @value={{30}} @status="active"/>
  <ProgressBar @label="indented" @value={{50}} @type="indented" @status="active" />
  <ProgressBar @label="inline" @value={{50}} @type="inline" />


  {{/demo.example}}
  <demo.snippet @name='progress-bar.hbs' />
</Demo>