{{import or from 'ember-truth-helpers/helpers/or'}}
{{import '{ on }' from '@ember/modifier'}}
{{import '{ fn }' from '@ember/helper'}}
{{import eq from 'ember-truth-helpers/helpers/eq'}}
{{import Icon from 'carbon-components-ember/components/icon'}}

{{#if this.show}}
  {{#if (eq this.defaultArgs.display 'toast')}}
  <div data-notification class="cds--toast-notification cds--toast-notification--{{this.defaultArgs.type}}"
       role="alert"
       ...attributes
  >
    <Icon @icon={{this.icon}} @svgClass="cds--toast-notification__icon" @fill="currentColor"/>
    <div class="cds--toast-notification__details">
      <h3 class="cds--toast-notification__title">{{this.defaultArgs.title}}</h3>
      <p class="cds--toast-notification__subtitle">{{this.defaultArgs.text}}</p>
      <p class="cds--toast-notification__caption">{{this.defaultArgs.caption}}</p>
    </div>
    <button {{on 'click' (fn this.onNotificationClick this.defaultArgs)}}
      data-notification-btn
      class="cds--toast-notification__close-button"
      type="button"
      aria-label="close">
      <Icon @icon="close" @svgClass="cds--inline-notification__close-icon" />
    </button>
  </div>
  {{/if}}
  {{#if (eq this.defaultArgs.display 'inline')}}
    <div role="status" class="cds--inline-notification cds--inline-notification--error">
      <div class="cds--inline-notification__details">
        <Icon @icon={{this.icon}} @svgClass="cds--inline-notification__icon" @fill="currentColor" />
        <div class="cds--inline-notification__text-wrapper">
          <div class="cds--inline-notification__title">{{this.defaultArgs.title}}</div>
          <div class="cds--inline-notification__subtitle">{{this.defaultArgs.text}}</div>
        </div>
      </div>
      <button aria-hidden="true" tabindex="-1" type="button" aria-label="close notification" title="close notification"
              class="cds--inline-notification__close-button">
        <Icon @icon="close" @svgClass="cds--inline-notification__close-icon" />
      </button>
    </div>
  {{/if}}

  {{#if (eq this.defaultArgs.display 'actionable')}}
    <div role="alertdialog"
         class="cds--actionable-notification cds--actionable-notification--toast cds--actionable-notification--error"
         aria-labelledby="actionable-notification-3">
      <div class="cds--actionable-notification__details">
        <Icon @icon={{this.icon}} @svgClass="cds--inline-notification__icon" @fill="currentColor" />
        <div class="cds--actionable-notification__text-wrapper">
          <div class="cds--actionable-notification__content">
            <div class="cds--actionable-notification__title" id="actionable-notification-3">{{this.defaultArgs.title}}</div>
            <div class="cds--actionable-notification__subtitle">{{this.defaultArgs.text}}</div>
          </div>
        </div>
      </div>
      <button tabindex="0" class="cds--actionable-notification__action-button cds--btn cds--btn--sm cds--btn--tertiary"
              type="button">{{this.defaultArgs.actionTitle}}
      </button>
      <button aria-label="close notification" type="button" title="close notification"
              class="cds--actionable-notification__close-button">
        <Icon @icon="close" @svgClass="cds--inline-notification__close-icon" />
      </button>
    </div>
  {{/if}}
{{/if}}