{{import or from '~/helpers/or'}}

<div data-notification class="bx--toast-notification bx--toast-notification--{{or @notification.type @type}}" role="alert"
     ...attributes
>
  <div class="bx--toast-notification__details">
    <h3 class="bx--toast-notification__title">{{or @notification.title @title}}</h3>
    <p class="bx--toast-notification__subtitle">{{or @notification.text @text}}</p>
    <p class="bx--toast-notification__caption">{{or @notification.caption @caption}}</p>
  </div>
  <button {{on 'click' (fn this.onNotificationClick (or @notification this.args))}} data-notification-btn class="bx--toast-notification__close-button" type="button" aria-label="close">
    <svg aria-hidden="true" class="bx--toast-notification-icon" width="10"
         height="10" viewBox="0 0 10 10" xmlns="http://www.w3.org/2000/svg">
      <path d="M6.32 5L10 8.68 8.68 10 5 6.32 1.32 10 0 8.68 3.68 5 0 1.32 1.32 0 5 3.68 8.68 0 10 1.32 6.32 5z"
            fill-rule="nonzero" />
    </svg>
  </button>
</div>