{{import '{ on }' from '@ember/modifier'}}
{{import eq from 'ember-truth-helpers/helpers/eq'}}

<div class="cds--toggle {{if @disabled "cds--toggle--disabled"}}" {{on 'click' this.onToggleChange}}>
  <button
    id="toggle-{{this.guid}}"
    class="cds--toggle__button"
    role="switch"
    type="button"
    aria-checked="{{@value}}"
    disabled={{@disabled}}
  ></button>
  <label class="cds--toggle__label" for="toggle{{this.guid}}">
    <span class="cds--toggle__label-text">{{@name}}</span>
    <div class="cds--toggle__appearance {{if (eq @size "sm") "cds--toggle__appearance--sm"}}">
      <div class="cds--toggle__switch {{if @value "cds--toggle__switch--checked"}}"></div>
      <span class="cds--toggle__text" aria-hidden="true">{{if @value 'On' 'Off'}}</span>
    </div>
  </label>
</div>