<div class="cds--form-item">
  <input class="cds--toggle" id="toggle{{this.guid}}"
         type="checkbox"
         disabled={{if @disabled 'true' false}}
         readonly='{{@readonly}}'
         name="{{@name}}"
         checked={{if @value true false}}
         onchange={{fn this.onToggleChange}}
  >
  <label class="cds--toggle__label" for="toggle{{this.guid}}">
    <span class="cds--toggle__text--left">Off</span>
    <span class="cds--toggle__appearance"></span>
    <span class="cds--toggle__text--right">On</span>
  </label>
</div>