{{import ListColumn from './-column'}}
{{import ListHeader from './-header'}}
{{import ListBody from './-body'}}
{{import Skeleton from './-skeleton'}}
{{import Toolbar from './-toolbar'}}
{{import Table from './-table'}}
{{import Pagination from '../pagination'}}
{{import SearchInput from './-search-input'}}
{{import Menu from './-menu'}}
{{import '{ fn }' from '@ember/helper'}}
{{import call from 'ember-composable-helpers/helpers/call'}}
{{import getFn from 'carbon-components-ember/helpers/get-fn'}}
{{import generic from 'carbon-components-ember/helpers/generic'}}
{{import newObj from 'carbon-components-ember/helpers/new-obj'}}
{{import didInsert from '@ember/render-modifiers/modifiers/did-insert'}}


<div class="cds--data-table-container {{if @isLoading 'bx-skeleton'}}" data-table>
  <div class="cds--data-table-header" {{didInsert this.didInsert}}>
    <h4 class="cds--data-table-header__title">{{@title}}</h4>
    <p class="cds--data-table-header__description">{{@description}}</p>
  </div>


    {{yield (hash
              SearchInput=(component SearchInput isLoading=@isLoading value=@state.currentSearchTerm onChange=(fn this.search))
              Pagination=(component Pagination isLoading=@isLoading length=this.items.length state=this.state.currentItemsSlice onPageChanged=(fn this.changePage))
            Menu=Menu
            Table=(component Table isLoading=@isLoading)
            Column=ListColumn
            EachBodyRows=(component ListBody isExpandable=this.isExpandable isCheckable=this.isCheckable table=this items=this.currentItems)
            Header=(component ListHeader table=this)
            Toolbar=(component Toolbar table=this)
    )
    }}
</div>
