<div class="bx--checkbox-wrapper" ...attributes>
<label
  tabindex='0'
  {{on 'focus' (fn (mut this.isFocus) true)}}
  {{on 'blur' (fn (mut this.isFocus) false)}}
  for="checkbox-{{this.guid}}"
  class="bx--checkbox-label {{if this.isFocus 'bx--checkbox-label__focus'}}"
  data-contained-checkbox-disabled="{{if @disabled 'true' 'false'}}"
  data-contained-checkbox-state="{{if @indeterminate 'mixed' @checked}}">
    <input
            disabled={{if this.disabled true false}}
            id='checkbox-{{this.guid}}'
            readonly={{readonly}}
            class="bx--checkbox"
            type="checkbox"
            name="{{@name}}"
            checked={{if @indeterminate true @checked}}
      {{on 'change' this.onCheckChange}}>
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{@label}}
  {{/if}}
</label>
</div>