{{import set from 'carbon-components-ember/helpers/set'}}
{{import getFn from 'carbon-components-ember/helpers/get-fn'}}
{{import Button from 'carbon-components-ember/components/button'}}

{{#if @table.selectedItems.size}}
  <div class="bx--batch-actions bx--batch-actions--active" aria-label="Table Action Bar">
    <div class="bx--action-list">
    {{yield (hash close=(fn (getFn @table.selectedItems 'clear')))}}
    <Button @primary=true @onClick={{fn (getFn @table.selectedItems 'clear')}}>Cancel</Button>
    </div>
    <div class="bx--batch-summary">
      <p class="bx--batch-summary__para">
        <span data-items-selected>{{@table.selectedItems.size}}</span> items selected
      </p>
    </div>
  </div>
{{/if}}