{{import Checkbox from 'carbon-components-ember/components/checkbox'}}
{{import Button from 'carbon-components-ember/components/button'}}
{{import Input from 'carbon-components-ember/components/form-input'}}
{{import Demo from 'ember-cli-addon-docs/components/docs-demo'}}
{{import set from 'carbon-components-ember/helpers/set'}}
{{import not from 'ember-truth-helpers/helpers/not'}}
{{import Button from 'carbon-components-ember/components/button'}}

<h1>Carbon Button</h1>


<Demo as |demo|>
  {{#demo.example name='button-simple.hbs'}}
    {{!import Button from 'carbon-components-ember/components/button'}}

    <Button
        @primary={{true}}
        @onClick={{set this 'clicked' true}}
    >
      Primary Button
    </Button>
    <Button
        @primary={{true}}
        @ghost={{true}}
        @onClick={{set this 'clicked' true}}
    >
      Ghost Button
    </Button>
    <Button
        @tertiary={{true}}
        @onClick={{set this 'clicked' true}}
    >
      Tertiary Button
    </Button>
    <Button
        @secondary={{true}}
        @small={{true}}
        @onClick={{set this 'clicked' true}}
    >
      Secondary Small Button
    </Button>
  {{/demo.example}}
  <demo.snippet @name="button-simple.hbs" />
</Demo>

<Demo as |demo|>
  <Checkbox @checked={{this.isPrimary}} @onChange={{fn (set this 'isPrimary') (not this.isPrimary)}}>
    Primary
  </Checkbox>
  <Checkbox @checked={{this.isSecondary}} @onChange={{fn (set this 'isSecondary') (not this.isSecondary)}}>
    Secondary
  </Checkbox>
  <Checkbox @checked={{this.isDanger}} @onChange={{fn (set this 'isDanger') (not this.isDanger)}}>
    Is Danger
  </Checkbox>
  <Checkbox @checked={{this.isSmall}} @onChange={{fn (set this 'isSmall') (not this.isSmall)}}>
    Is Small
  </Checkbox>
  <Checkbox @checked={{this.isTertiary}} @onChange={{fn (set this 'isTertiary') (not this.isTertiary)}}>
    Is Tertiary
  </Checkbox>
  <Checkbox @checked={{this.isDisabled}} @onChange={{fn (set this 'isDisabled') (not this.isDisabled)}}>
    Is Disabled
  </Checkbox>
  <label>Confirm Text</label>
  <Input @onChange={{fn (set this 'confirmText')}} @value={{this.confirmText}} />

  {{#demo.example name='button-all.hbs'}}
    <Button
        @disabled={{isDisabled}}
        @primary={{this.isPrimary}}
        @secondary={{this.isSecondary}}
        @danger={{this.isDanger}}
        @tertiary={{this.isTertiary}}
        @small={{this.isSmall}}
        @onClick={{set this 'clicked' true}}
        @bubbles={{this.bubbles}}
        @confirmText={{this.confirmText}}
    >
      Button Text
    </Button>
  {{/demo.example}}
  {{demo.snippet 'button-all.hbs'}}
</Demo>