{{import Checkbox from 'carbon-components-ember/components/checkbox'}}
{{import Button from 'carbon-components-ember/components/button'}}
{{import Input from 'carbon-components-ember/components/form-input'}}
{{import Demo from 'ember-cli-addon-docs/components/docs-demo'}}
{{import set from 'carbon-components-ember/helpers/set'}}
{{import not from 'ember-truth-helpers/helpers/not'}}
{{import Button from 'carbon-components-ember/components/button'}}

<h1>Carbon Button</h1>

<Demo as |demo|>
  {{#demo.example name='button-simple.hbs'}}
  {{!import Button from 'carbon-components-ember/components/button'}}

    <Button
      @type="primary"
      @onClick={{set this 'clicked' true}}
    >
      Primary Button
    </Button>
    <Button
      @type="primary"
      @ghost={{true}}
      @onClick={{set this 'clicked' true}}
    >
      Ghost Button
    </Button>
    <Button
      @type="primary"
      @tertiary={{true}}
      @onClick={{set this 'clicked' true}}
    >
      Tertiary Button
    </Button>
    <Button
      @type="secondary"
      @small={{true}}
      @onClick={{set this 'clicked' true}}
    >
      Secondary Small Button
    </Button>
    <Button
      @type="primary"
      @onClick={{this.doSomething}}
    >
      Button with loading indicator if onClick returns a promise
    </Button>
  {{/demo.example}}
  <demo.snippet @name="button-simple.hbs" />
  <demo.snippet @name='button.js' />
</Demo>

<Demo as |demo|>
  <Checkbox @checked={{eq this.type 'primary'}} @onChange={{fn (set this 'type') 'primary'}}>
    Primary
  </Checkbox>
  <Checkbox @checked={{eq this.type 'secondary'}} @onChange={{fn (set this 'type') 'secondary'}}>
    Secondary
  </Checkbox>
  <Checkbox @checked={{eq this.type 'danger'}} @onChange={{fn (set this 'type' ) 'danger'}}>
    Is Danger
  </Checkbox>
  <Checkbox @checked={{this.isSmall}} @onChange={{fn (set this 'isSmall') (not this.isSmall)}}>
    Is Small
  </Checkbox>
  <Checkbox @checked={{this.isTertiary}} @onChange={{fn (set this 'isTertiary') (not this.isTertiary)}}>
    Is Tertiary
  </Checkbox>
  <Checkbox @checked={{this.isDisabled}} @onChange={{fn (set this 'isDisabled') (not this.isDisabled)}}>
    Is Disabled
  </Checkbox>
  <label>Confirm Text</label>
  <Input @onChange={{fn (set this 'confirmText')}} @value={{this.confirmText}} />

  {{#demo.example name='button-all.hbs'}}
    <Button
      @disabled={{this.isDisabled}}
      @type={{this.type}}
      @tertiary={{this.isTertiary}}
      @small={{this.isSmall}}
      @onClick={{fn (set this 'clicked') true}}
      @bubbles={{this.bubbles}}
      @confirmText={{this.confirmText}}
    >
      Button Text
    </Button>
  {{/demo.example}}
</Demo>
