{{#if @overlay}}
  <div class="bx--loading-overlay"
       style="height: 100%"
    {{ref this "carbonElement"}}
    {{did-update this.attrs.active this.updateLoading}}
    {{did-insert this.loadCarbonComponent}}
    {{will-destroy this.destroyCarbonComponent}}>
  <div data-loading class="bx--loading {{if @small 'bx--loading--small'}} {{this.classNames}}" ...attributes>
    <svg class="bx--loading__svg" viewBox="-75 -75 150 150">
      <title>Loading</title>
      {{#if @small}}
          <circle class="bx--loading__background" cx="0" cy="0" r="37.5" />
      {{/if}}
      <circle class="bx--loading__stroke" cx="0" cy="0" r="37.5" />
    </svg>
  </div>
</div>
{{else}}
  <div data-loading class="{{this.classNames}}"
    {{ref this "carbonElement"}}
    {{did-update this.attrs.active this.updateLoading}}
    {{did-insert this.loadCarbonComponent}}
    {{will-destroy this.destroyCarbonComponent}} ...attributes>
    <svg class="bx--loading {{if @small 'bx--loading--small'}} bx--loading__svg" viewBox="-75 -75 150 150">
      <title>Loading</title>
      {{#if @small}}
          <circle class="bx--loading__background" cx="0" cy="0" r="37.5" />
      {{/if}}
      <circle class="bx--loading__stroke" cx="0" cy="0" r="37.5" />
    </svg>
  </div>
{{/if}}
