{{import eq from 'ember-truth-helpers/helpers/eq'}}
{{import '{ on }' from '@ember/modifier'}}
{{import '{ fn }' from '@ember/helper'}}

<nav class="cds--breadcrumb cds--breadcrumb--no-trailing-slash" aria-label="breadcrumb" ...attributes>
    {{#each @crumbs as |crumb|}}
        <div class="cds--breadcrumb-item">
            <a href="#" {{on 'click' (fn this.onSelect crumb)}} class="cds--link" aria-current="{{if (eq crumb @current) 'page'}}" >
                {{crumb}}
            </a>
        </div>
    {{/each}}
</nav>

