{{import ListRow from './-row'}}
{{import ListColumn from './-column'}}
{{import ListHeader from './-header'}}
{{import ListBody from './-body'}}
{{import Skeleton from './-skeleton'}}
{{import Pagination from '../pagination'}}
{{import SearchInput from '../search-input'}}
{{import styles from './styles.scoped.scss'}}
{{import '{ fn }' from '@ember/helper'}}
{{import didInsert from '@ember/render-modifiers/modifiers/did-insert'}}

{{#if @loading}}
  <Skeleton />
{{else}}
  <section
    class='cds--structured-list
      {{styles.namespace}}
      {{if @selectable "cds--structured-list--selection"}}'
    style='position: relative;'
    {{didInsert this.delayItems}}
  >
    {{yield
      (hash
        items=this.currentItems
        SearchInput=(component
          SearchInput
          value=this.currentSearch
          onChange=(fn (mut this.currentSearch))
          light=true
          size='sm'
        )
        Pagination=(component
          Pagination
          length=@items.length
          onPageChanged=(fn (mut this.currentItemsSlice))
        )
        Column=ListColumn
        BodyRows=(component ListBody list=this items=this.currentItems)
        Header=ListHeader
      )
    }}
  </section>
{{/if}}