{{import Icon from 'carbon-components-ember/components/icon'}}
{{import '{ on }' from '@ember/modifier'}}
{{import '{ fn }' from '@ember/helper'}}
<div class="cds--structured-list-row {{if @isHeader 'cds--structured-list-row--header-row'}}" ...attributes {{on 'click' (fn this.onSelect @item)}}>
  {{yield}}
  {{#if @list.args.selectable}}
    <input type="radio" checked={{@isCurrent}} class="cds--structured-list-input cds--visually-hidden">
    <div class="cds--structured-list-td">
      <Icon @icon="checkmark--filled" @btnClass="cds--structured-list-svg"></Icon>
    </div>
  {{/if}}
</div>
