{{import Icon from '../icon'}}
{{import didUpdate from '@ember/render-modifiers/modifiers/did-update'}}
{{import '{ fn }' from '@ember/helper'}}
{{import '{ on }' from '@ember/modifier'}}

<div data-search
     {{didUpdate (fn this.setValue @value) @value}}
     {{didUpdate (fn this.onSearchChange) this.value}}
     role="search"
     class="cds--search cds--search--{{if @size @size 'lg'}} {{if @light 'cds--search--light'}} {{if @isLoading 'cds--skeleton'}}" ...attributes>
  {{#if this.hasInput}}
      <button class="cds--search-close" title="Clear search input" aria-label="Clear search input" {{on 'click' this.onSearchClear}}>
          <Icon @icon="close" @btnClass="cds--search-clear" />
      </button>
  {{/if}}
    <label id="search-input-label-{{this.guid}}" class="cds--label" for="search__input-{{this.guid}}">Search</label>
    <input class="cds--search-input" type="text" id="search__input-{{this.guid}}" placeholder="Search"
           value={{this.value}}
      {{on 'change' (fn this.setValue)}}
      {{on 'input' (fn this.setValue)}} >
    <Icon @icon="search" @btnClass="cds--search-magnifier" />
</div>