{{import Icon from '../icon'}}
<div data-search role="search" class="bx--search bx--search--{{if @small 'sm' (if @xl 'xl')}}  {{this.styleNamespace}} {{if @light 'bx--search--light'}}" ...attributes>
  {{#if this.hasInput}}
      <button class="bx--search-close" title="Clear search input" aria-label="Clear search input" {{on 'click' this.onSearchClear}}>
          <Icon @icon="close" class="bx--search-clear" />
      </button>
  {{/if}}
    <label id="search-input-label-{{this.guid}}" class="bx--label" for="search__input-{{this.guid}}">Search</label>
    <input class="bx--search-input" type="text" id="search__input-{{this.guid}}" placeholder="Search"
           value={{this.value}}
      {{on 'change' this.onSearchChange}}
      {{on 'input' this.onSearchChange}} >
    <Icon @icon="search" class="bx--search-magnifier" />
</div>