{{import Demo from 'ember-cli-addon-docs/components/docs-demo'}}
{{import Toggle from 'carbon-components-ember/components/toggle'}}
{{import newObj from 'carbon-components-ember/helpers/new-obj'}}
{{import '{ fn }' from '@ember/helper'}}
{{import not from 'ember-truth-helpers/helpers/not'}}
{{import Tabs from 'carbon-components-ember/components/tabs'}}


<h1>Carbon Tabs</h1>

<Demo as |demo|>
  {{#let (newObj) as |context|}}
    {{#demo.example name='tabs.hbs'}}
    {{!import Tab from 'carbon-components-ember/components/tab'}}

      <Tabs @loading={{true}}></Tabs>

      <br>

      <Tabs @selectedTab={{context.selected}} @tabSelected={{fn (mut context.selected)}} as |TabPane|>
        <TabPane @title="Tab Label 1">
          title: {{context.selected}}
        </TabPane>
        <TabPane @title="Tab Label 2" @disabled={{true}}>
          title: {{context.selected}}
        </TabPane>
        <TabPane @title="Tab Label 4 with a very long long label">
          title: {{context.selected}}
        </TabPane>
      </Tabs>

    {{/demo.example}}
  {{/let}}
  <demo.snippet @name="tabs.hbs" />
</Demo>