{{import Select from '../select'}}
{{import Icon from '../icon'}}
{{import defaultTo from 'carbon-components-ember/helpers/default-to'}}
{{import set from 'carbon-components-ember/helpers/set'}}
{{import range from 'ember-composable-helpers/helpers/range'}}
{{import eq from 'ember-truth-helpers/helpers/eq'}}
{{import styles from './styles.scoped.scss'}}
{{import didInsert from '@ember/render-modifiers/modifiers/did-insert'}}
{{import didUpdate from '@ember/render-modifiers/modifiers/did-update'}}
{{import '{ fn }' from '@ember/helper'}}
{{import '{ on }' from '@ember/modifier'}}
{{import or from 'ember-truth-helpers/helpers/or'}}

<div
  class='cds--pagination {{styles.namespace}} {{if @isLoading "cds--skeleton"}}'
  data-pagination
  {{didInsert this.pageChanged}}
  {{didUpdate (fn this.setState @state) @state}}
>
  {{#if @isLoading}}
    <div class='cds--skeleton__text'></div>
  {{else}}
    <div class='cds--pagination__left'>
      <label
        id='select-id-pagination-count-label'
        class='cds--pagination__text'
        for='select-id-pagination-count'
      >
        Items per page:
      </label>
      <div class='cds--select cds--select--inline cds--select__item-count'>
        <Select
          @disabled={{@disabled}}
          @searchEnabled={{false}}
          @options={{defaultTo
            this.defaultArgs.itemsPerPageOptions
            (array 10 20 30 40 50 100)
          }}
          @onSelect={{this.setItemsPerPage}}
          @selected={{this.itemsPerPage}}
        />
      </div>
      <span class='cds--pagination__text'>
        <span data-displayed-item-range>
          {{this.currentSlice.start}} - {{this.currentSlice.end}}
        </span>
        of
        <span data-total-items>
          {{this.defaultArgs.length}}
        </span>
        items
      </span>
    </div>
    <div class='cds--pagination__right'>
      <Select
        @multiple={{false}}
        @disabled={{@disabled}}
        @searchEnabled={{false}}
        @options={{range 1 this.pages true}}
        @onSelect={{this.setCurrentPage}}
        @selected={{this.currentPage}}
      />
      <label
        id='select-id-pagination-page-label'
        class='cds--pagination__text'
        for='select-id-pagination-page'
      >
        {{this.currentPage}} of {{this.pages}} pages
      </label>
      <button
        disabled={{or (eq this.currentPage 1) @disabled}}
        class='cds--btn--icon-only cds--pagination__button cds--pagination__button--backward cds--btn cds--btn--md cds--btn--ghost'
        tabindex='0'
        data-page-backward
        aria-label='previous page'
        type='button'
        {{on 'click' this.pageBack}}
      >
        <Icon @btnClass='cds--pagination__nav-arrow' @icon='chevron--left' />
      </button>
      <button
        disabled={{or (eq this.currentPage this.pages) @disabled}}
        class='cds--btn--icon-only cds--pagination__button cds--pagination__button--forward cds--btn cds--btn--md cds--btn--ghost'
        tabindex='0'
        data-page-forward
        aria-label='next page'
        type='button'
        {{on 'click' this.pageForward}}
      >
        <Icon @btnClass='cds--pagination__nav-arrow' @icon='chevron--right' />
      </button>
    </div>
  {{/if}}
</div>