{{import Select from '../select'}}
{{import Icon from '../icon'}}
{{import defaultTo from 'carbon/src/ui/helpers/default-to'}}
{{import set from 'carbon/src/ui/helpers/set'}}
{{import range from '@abcum/ember-helpers/helpers/range'}}
{{import eq from '@abcum/ember-helpers/helpers/eq'}}

<div class="bx--pagination {{styleNamespace}}" data-pagination {{did-insert this.pageChanged}}>
  <div class="bx--pagination__left">
    <label id="select-id-pagination-count-label" class="bx--pagination__text" for="select-id-pagination-count">
      Items per page:
    </label>
    <div class="bx--select bx--select--inline bx--select__item-count">
        <Select @options={{defaultTo (array 10 20 30 40 50) @itemsPerPageOptions}} @onSelect={{this.setItemsPerPage}} @content={{this.itemsPerPage}}/>
    </div>
    <span class="bx--pagination__text">
      <span data-displayed-item-range>{{this.currentSlice.start}} - {{this.currentSlice.end}}</span> of
      <span data-total-items>
        {{@length}}
      </span> items
    </span>
  </div>
  <div class="bx--pagination__right">
    <Select @options={{range 1 this.pages}} @onSelect={{this.setCurrentPage}} @content={{this.currentPage}}/>
    <label id="select-id-pagination-page-label" class="bx--pagination__text" for="select-id-pagination-page">
      {{this.currentPage}} of {{this.pages}} pages
    </label>
    <button disabled={{eq this.currentPage 1}} {{on 'click' this.pageBack}} class="bx--pagination__button bx--pagination__button--backward " tabindex="0" data-page-backward aria-label="previous page">
      <Icon class="bx--pagination__nav-arrow" @icon="chevron--left" />
    </button>
    <button disabled={{eq this.currentPage this.pages}} {{on 'click' this.pageForward}} class="bx--pagination__button bx--pagination__button--forward " tabindex="0" data-page-forward aria-label="next page">
      <Icon class="bx--pagination__nav-arrow" @icon="chevron--right" />
    </button>
  </div>
</div>