{{import Loading from '../loading'}}
{{import defaultTo from 'carbon-components-ember/helpers/default-to'}}
{{import eq from 'ember-truth-helpers/helpers/equal'}}
{{import renderSvgPart from './render-svg-part'}}
{{import styles from './styles.scoped.scss'}}
{{import or from 'ember-truth-helpers/helpers/or'}}
{{import '{ on }' from '@ember/modifier'}}


{{#if (or @loading this.loading)}}
  <span style="display: inline-block;">
    <Loading @classNames="{{styles.icon}} {{this.bxClassNames}} loader" @small={{true}} @inline={{true}} />
  </span>
{{else}}
  {{#if @onClick}}
    <button class="cds--btn cds--btn--sm cds--btn--ghost {{@btnClass}}" style="{{@btnStyle}}" type="button" {{on 'click' this.onIconClick}}>
        {{renderSvgPart this.svg class=(array (or @svgClass styles.icon) this.bxClassNames) fill=@fill}}
    </button>
  {{else}}
    {{renderSvgPart this.svg class=(array (or @svgClass styles.icon) this.bxClassNames) fill=@fill}}
  {{/if}}
{{/if}}

