{{import Icon from 'carbon-components-ember/components/icon'}}
{{import eq from '@abcum/ember-helpers/helpers/eq'}}
{{import liquidIf from 'liquid-fire/components/liquid-if'}}

<nav class="bx--side-nav__navigation bx--side-nav bx--side-nav--ux {{if @open 'bx--side-nav--expanded'}} {{this.styleNamespace}}"
     role="navigation" aria-label="Page Navigation" aria-expanded="true">
    <ul class="bx--side-nav__items">
        {{#each @menuItems as |menu menuIndex|}}
          {{#if menu.submenus}}
              <li class="bx--side-nav__item {{if @menu.icon 'bx--side-nav__item--icon'}}">
                  <button aria-haspopup="true" aria-expanded="{{get this (concat menu.title '-expanded')}}"
                  {{on 'click' (fn this.toggleProperty (concat menu.title '-expanded'))}}>
                      {{#if menu.icon}}
                          <div class="bx--side-nav__icon">
                              <Icon @icon="{{menu.icon}}"/>
                          </div>
                      {{/if}}
                      <span class="bx--side-nav__submenu-title">{{menu.title}}</span>
                      <div class="bx--side-nav__icon bx--side-nav__icon--small bx--side-nav__submenu-chevron">
                          {{Icon 'submenu-chevron'}}
                      </div>
                  </button>
                  <p class="main-nav-item__heading main-nav-item__list">
                    {{menu.title}}
                  </p>
                  {{#liquidIf (get this (concat menu.title '-expanded'))}}
                    <ul role="menu" class="bx--side-nav__menu">
                      {{#each menu.submenus as |submenu|}}
                          <li class="bx--side-nav__menu-item">
                              <a role="menuitem" aria-current="{{if (eq @currentMenu submenu) 'page'}}" class="bx--side-nav__link" role="menuitem"
                                {{on 'click' (fn @transitionTo submenu)}}>
                                {{#if submenu.icon}}
                                    <div class="bx--side-nav__icon">
                                        <Icon @icon="{{submenu.icon}}"/>
                                    </div>
                                {{/if}}
                                  <span class="bx--side-nav__link-text">{{submenu.title}}</span>
                              </a>
                          </li>
                      {{/each}}
                    </ul>
                {{/liquidIf}}
              </li>
          {{else unless menu.hidden}}
              <li class="bx--side-nav__item">
                  <a class="bx--side-nav__link"
                     aria-current="{{if (eq @currentMenu menu) 'page'}}"
                    {{on 'click' (fn @transitionTo menu)}}>
                      {{#if menu.icon}}
                          <div class="bx--side-nav__icon bx--side-nav__icon--small">
                              <Icon @icon="{{menu.icon}}"/>
                          </div>
                      {{/if}}
                      <span class="bx--side-nav__link-text">{{menu.title}}</span>
                  </a>
              </li>
          {{/if}}
        {{/each}}
    </ul>
</nav>

