{{import Icon from 'carbon-components-ember/components/icon'}}
{{import eq from 'ember-truth-helpers/helpers/equal'}}
{{import toggle from 'ember-composable-helpers/helpers/toggle'}}
{{import animated-if from 'ember-animated/components/animated-if'}}
{{import styles from './styles.scoped.scss'}}
{{import Menu from './-menu'}}


<nav class="bx--side-nav__navigation bx--side-nav bx--side-nav--ux {{if @open 'bx--side-nav--expanded'}} {{styles.namespace}}"
     role="navigation" aria-label="Page Navigation" aria-expanded="true">
  <ul class="bx--side-nav__items">
    {{#unless @menuItems}}
      {{yield Menu}}
    {{/unless}}
    {{#each @menuItems as |menu menuIndex|}}
        <Menu
          @submenus={{menu.submenus}}
          @icon={{menu.icon}}
          @title={{menu.title}}
          @isCurrent={{eq menu @currentMenu}}
          @open={{@open}}
          @transitionTo={{fn @transitionTo menu}} as |sub|>
          {{#each menu.submenus as |submenu|}}
            <sub @transiti  onTo=""></sub>
          {{/each}}
        </Menu>
    {{/each}}
  </ul>
</nav>

