{{import Button from 'carbon-components-ember/components/button'}}
{{import DocsDemo from 'ember-cli-addon-docs/components/docs-demo'}}
{{import Notification from 'carbon-components-ember/components/notification'}}
{{import Select from 'carbon-components-ember/components/select'}}
{{import Tag from 'carbon-components-ember/components/tag'}}
{{import Confirm from 'carbon-components-ember/components/dialogs/confirm'}}

<h1>
  Carbon Confirm Dialog
</h1>

<DocsDemo as |demo|>
  <demo.example @name='confirm.hbs'>
    {{#unless this.answer}}
      <Confirm
        @type='info'
        @body='are you sure?'
        @onCancel={{fn (mut this.answer) 'no'}}
        @onAccept={{fn (mut this.answer) 'yes'}}
      />
    {{/unless}}
    {{this.answer}}
  </demo.example>
  <demo.snippet @name='confirm.hbs' />
  <demo.snippet @name='confirm.js' />
</DocsDemo>