{{import Input from 'carbon-components-ember/components/form-input'}}
{{import Demo from 'ember-cli-addon-docs/components/docs-demo'}}
{{import set from 'carbon-components-ember/helpers/set'}}

<h1>Carbon Code Snippet</h1>

<Demo as |demo|>
  {{#demo.example name='data-table.hbs'}}
    {{import DataTable from 'carbon-components-ember/components/data-table'}}

    <DataTable @items={{array (hash name='a' b='c')}}
	  as |table|>
	  <table.Toolbar>
		<Table.SearchInput />
	  </table.Toolbar>
      <table.Header @headers={{array (hash label='Name') (hash label='details')}}></table.Header>	 
	  <table.Body>
	    {{#each table.items as |item|}}
			<table.Row>
				<table.Column>{{item.name}}</table.Column>
				<table.Column>{{item.b}}</table.Column>
			</table.Row>
		{{/each}}
	  </table.Body>
	  
    </DataTable>

  {{/demo.example}}
  <demo.snippet @name="data-table.hbs" />
</Demo>