{{import Input from 'carbon-components-ember/components/form-input'}}
{{import Demo from 'ember-cli-addon-docs/components/docs-demo'}}
{{import set from 'carbon-components-ember/helpers/set'}}
{{import eq from 'ember-truth-helpers/helpers/equal'}}
{{import UiShell from 'carbon-components-ember/components/ui-shell'}}
{{import Icon from 'carbon-components-ember/components/icon'}}
{{import Menu from 'carbon-components-ember/components/menu'}}
{{import Tabs from 'carbon-components-ember/components/tabs'}}

<h1>
  Carbon Shell UI
</h1>

<Demo as |demo|>
  {{! template-lint-disable no-forbidden-elements }}
  <style>
    .cds--side-nav { position: inherit; } .cds--header { position: inherit; }
    .docs-p-4 { position: relative; } .bx--header { position: absolute; }
    .bx--side-nav { position: absolute; }
  </style>
  <demo.example @name='ui-shell.hbs'>
    {{!import UiShell from 'carbon-components-ember/components/ui-shell'}}
    {{!import Icon from 'carbon-components-ember/components/icon'}}
    {{!import Menu from 'carbon-components-ember/components/menu'}}

    <UiShell>
      <:shell as |shell|>
        <shell.Header
          @onToggle={{set this 'leftSideBarOpen'}}
          @open={{this.leftSideBarOpen}}
          @title='Ui Shell'
          @subtitle='1.0'
        >
          <:header-global>
            <div style='float: right; margin-right: 100px'>
              <Menu @icon='user--avatar' as |Item|>
                <Item {{on 'click' this.logout}}>
                  Logout
                </Item>
              </Menu>
            </div>
          </:header-global>
        </shell.Header>
        <shell.Sidenav
          @menuItems={{this.menuItems}}
          @currentMenu={{this.currentMenu}}
          @transitionTo={{this.transitionTo}}
          @open={{this.leftSideBarOpen}}
          @onToggle={{set this 'leftSideBarOpen'}}
        />
      </:shell>
      <:content>
        <div>
          <div class='page-header'>
            <h4 style='display: inline-block' class='page-header__label'>
              {{this.currentMenu.title}}
            </h4>
            <Icon @icon='chevron--right' />
            <h1
              id='page-title'
              class='page-header__title'
              style='display: inline-block'
            >
              Page Title
            </h1>
            <div style='width: 100%'>
              <span class='flex'></span>
            </div>
          </div>
          <div>
            {{#if this.menuTitle.tabs}}
              <Tabs
                style='min-width: 150px'
                @tabs={{this.menuTitle.tabs}}
                @tabSelected={{this.transitionTo}}
                @selectedTab={{this.currentTab}}
              />
              <div style='margin-top: 50px'></div>
            {{/if}}
          </div>
          <div>
            <section style='margin-top: 30px'>
              Outlet Page content here
              {{outlet}}
            </section>
          </div>
        </div>
      </:content>
    </UiShell>

    <UiShell>
      <:shell as |shell|>
        <shell.Header
          @onToggle={{set this 'leftSideBarOpen'}}
          @open={{this.leftSideBarOpen}}
          @title='Ui Shell'
          @subtitle='1.0'
        >
          <:header-global>
            <div style='float: right; margin-right: 100px'>
              <Menu @icon='user--avatar' as |Item|>
                <Item {{on 'click' this.logout}}>
                  Logout
                </Item>
              </Menu>
            </div>
          </:header-global>
        </shell.Header>
        <shell.Sidenav
          @menuItems={{this.menuItems}}
          @currentMenu={{this.currentMenu}}
          @transitionTo={{this.transitionTo}}
          @open={{this.leftSideBarOpen}}
          @onToggle={{set this 'leftSideBarOpen'}}
        />
      </:shell>
      <:content>
        <div>
          <div class='page-header'>
            <h4 style='display: inline-block' class='page-header__label'>
              {{this.currentMenu.title}}
            </h4>
            <Icon @icon='chevron--right' />
            <h1 class='page-header__title' style='display: inline-block'>
              Page Title
            </h1>
            <div style='width: 100%'>
              <span class='flex'></span>
            </div>
          </div>
          <div>
            {{#if this.menuTitle.tabs}}
              <Tabs
                style='min-width: 150px'
                @tabs={{this.menuTitle.tabs}}
                @tabSelected={{this.transitionTo}}
                @selectedTab={{this.currentTab}}
              />
              <div style='margin-top: 50px'></div>
            {{/if}}
          </div>
          <div>
            <section style='margin-top: 30px'>
              Outlet Page content here
              {{outlet}}
            </section>
          </div>
        </div>
      </:content>
    </UiShell>
  </demo.example>
  <demo.snippet @name='ui-shell.hbs' />
  <demo.snippet @name='ui-shell.js' />
</Demo>