{{import DataSet from '../dataset'}}
{{import Axis from '../axis'}}
{{import set from 'carbon-components-ember/helpers/set'}}
{{import call from 'carbon-components-ember/helpers/call'}}

{{yield (hash
  DataSet=(component DataSet chart=this)
  Axis=(component Axis chart=this)
  )}}

<div ...attributes
  {{did-insert this.loadChart}}
  {{did-update this.updateChart @labels @legendClickable @containerResizable}}
  {{will-destroy this.destroyChart}}
>
</div>

