{{import Loading from '../loading'}}
{{import or from 'ember-truth-helpers/helpers/or'}}
<button ...attributes
        onclick={{fn this.onButtonClick}}
        class="bx--btn {{this.bxClassNames}} {{this.styleNamespace}} {{if (or this.loading @loading) 'bx--btn--ghost'}}"
        aria-label="{{if @danger 'danger'}}"
        disabled={{or @disabled this.loading @loading}}
        type="button">
  {{#if (or this.loading @loading)}}
    <Loading @inline=true />
  {{else}}
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{@label}}
    {{/if}}
  {{/if}}
</button>