{{import Loading from '../loading'}}
{{import or from 'ember-truth-helpers/helpers/or'}}
{{import styles from './styles.scoped.scss'}}
{{import Confirm from 'carbon-components-ember/components/dialogs/confirm'}}

<button ...attributes
        onclick={{fn this.onButtonClick}}
        class="bx--btn {{this.bxClassNames}} {{styles.namespace}} {{if (or this.loading @loading) 'bx--btn--ghost'}}"
        aria-label="{{if @danger 'danger'}}"
        disabled={{or @disabled this.loading @loading}}
        type="button">
  {{#if this.showDialog}}
    {{#let (component (or this.args.confirmDialog Confirm)) as |Dialog|}}
      {{#in-element this.dialogManager.destinationElement}}
        <Confirm @onAccept={{this.runButtonClick}} @onCancel={{this.cancel}} @header="Danger" @body={{or @confirmText 'Confirm this operation'}} @type="danger"></Confirm>
      {{/in-element}}
    {{/let}}
  {{/if}}
  {{#if (or this.loading @loading)}}
    <Loading @inline=true />
  {{else}}
    {{#if (has-block)}}
      {{yield}}
    {{else}}
      {{@label}}
    {{/if}}
  {{/if}}
</button>